<p id="notice"><%= notice %></p>

<p>
  <b>Isbn:</b>
  <%= @book.isbn %>
</p>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Price:</b>
  <%= @book.price %>
</p>

<p>
  <b>Publish:</b>
  <%= @book.publish %>
</p>

<p>
  <b>Publisher:</b>
  <%= @book.publisher %>
</p>

<p>
  <b>Cd:</b>
  <%= @book.cd %>
</p>

<p>
  <b>Image:</b>
  <%= render @book_image %>
</p>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %> |
<%= link_to 'post your review', new_review_path %>

<br/>
<br/>
<hr/>
<div>この本のレビュー一覧</div>

<div>
  <% if @review.empty? %>
    <div> まだレビューはありません。</div>
  <% else %>
    <table border="1">
      <tr>
        <td>投稿者</td>
        <td>タイトル</td>
        <td>本文</td>
      </tr>
      <%= render @review %>
    </table>

  <% end %>
</div>