<p id="notice"><%= notice %></p>

<p>
  <b>Book:</b>
  <%= @review.book_id %>
</p>

<p>
  <b>User:</b>
  <%= @review.user_id %>
</p>

<p>
  <b>Nickname:</b>
  <%= @review.nickname %>
</p>

<p>
  <b>Title:</b>
  <%= @review.title %>
</p>

<p>
  <b>Body:</b>
  <%= @review.body %>
</p>


<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
